{% extends 'base.html'%}

{% block conteudo%}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <h1 class="display-6">Olá {{usuario.nome}}!</h1>
        </div>

        <hr>

        <div>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat, odio ipsa doloribus iure provident, laboriosam ullam officiis eveniet eaque dolorem distinctio reprehenderit? Quis molestiae nihil aliquid cum? Omnis, mollitia?
        </div>
    </div>
</div>
{% endblock%}